In [1]:
import pandas as pd
import numpy as np

In [2]:
books = pd.read_csv('data/Books.csv', low_memory = False)
books.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...

In [3]:
ratings = pd.read_csv('data/Ratings.csv')
#ratings.head(5)

In [4]:
# Data Process

books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-L']]
books.rename(columns = {'Book-Title':'TITLE','Book-Author':'AUTHOR','Year-Of-Publication':'YEAR-OF-PUBLICATION','Publisher':'PUBLISHER', 'Image-URL-L':'IMAGE-URL-L'}, inplace = True)
#books.head(5)

In [5]:
ratings = ratings[['User-ID', 'ISBN', 'Book-Rating']]
ratings.rename(columns = {'User-ID':'USER-ID', 'Book-Rating':'RATING'}, inplace = True)
#ratings.head(5)

In [6]:
books.dropna(inplace = True)
books.isna().sum()

ISBN                   0
TITLE                  0
AUTHOR                 0
YEAR-OF-PUBLICATION    0
PUBLISHER              0
IMAGE-URL-L            0
dtype: int64

In [7]:
ratings.isna().sum()

USER-ID    0
ISBN       0
RATING     0
dtype: int64

In [8]:
ratings['USER-ID'].value_counts()

USER-ID
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [9]:
qt_ratings = ratings['USER-ID'].value_counts() > 200
x = qt_ratings[qt_ratings].index
x.shape

(899,)

In [10]:
x

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='USER-ID', length=899)

In [11]:
ratings.shape

(1149780, 3)

In [12]:
ratings = ratings[ratings['USER-ID'].isin(x)]
ratings.shape

(526356, 3)

In [13]:
ratings.head()

      USER-ID        ISBN  RATING
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [14]:
books.head()

,ISBN,TITLE,AUTHOR,YEAR-OF-PUBLICATION,PUBLISHER,IMAGE-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [15]:
books.info()
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 271353 entries, 0 to 271359
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271353 non-null  object
 1   TITLE                271353 non-null  object
 2   AUTHOR               271353 non-null  object
 3   YEAR-OF-PUBLICATION  271353 non-null  object
 4   PUBLISHER            271353 non-null  object
 5   IMAGE-URL-L          271353 non-null  object
dtypes: object(6)
memory usage: 14.5+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 526356 entries, 1456 to 1147616
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   USER-ID  526356 non-null  int64
 1   ISBN     526356 non-null  object
 2   RATING   526356 non-null  int64
dtypes: int64(2), object(1)
memory usage: 16.1+ MB

In [16]:
books_and_ratings = ratings.merge(books, on = 'ISBN')
books_and_ratings.head()

,USER-ID,ISBN,RATING,TITLE,AUTHOR,YEAR-OF-PUBLICATION,PUBLISHER,IMAGE-URL-L
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [17]:
books_and_ratings.shape

(487665, 8)

In [18]:
num_rating = books_and_ratings.groupby('TITLE')['RATING'].count().reset_index()
num_rating.rename(columns={'RATING' : 'NUM_OF_RATING'}, inplace=True)
num_rating.head(5)

                                               TITLE  NUM_OF_RATING
0   A Light in the Storm: The Civil War Diary of ...              2
1                              Always Have Popsicles              1
2               Apple Magic (The Collector's series)              1
3   Beyond IBM: Leadership Marketing and Finance ...              1
4   Clifford Visita El Hospital (Clifford El Gran...              1

In [19]:
final_rating = books_and_ratings.merge(num_rating, on='TITLE')

In [20]:
final_rating.head(2)

,USER-ID,ISBN,RATING,TITLE,AUTHOR,YEAR-OF-PUBLICATION,PUBLISHER,IMAGE-URL-L,NUM_OF_RATING
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [21]:
final_rating = final_rating[final_rating['NUM_OF_RATING']>=50]
final_rating.sample(10)

,USER-ID,ISBN,RATING,TITLE,AUTHOR,YEAR-OF-PUBLICATION,PUBLISHER,IMAGE-URL-L,NUM_OF_RATING
11346,208147,0671001795,0,Two for the Dough,Janet Evanovich,1996,Pocket,http://images.amazon.com/images/P/0671001795.0...,126
108715,140000,0425184943,0,Blue Diary,Alice Hoffman,2002,Berkley Publishing Group,http://images.amazon.com/images/P/0425184943.0...,67
113467,32195,0385306024,0,Accident,Danielle Steel,1994,Delacorte Press,http://images.amazon.com/images/P/0385306024.0...,64
180913,110214,0553212583,8,Wuthering Heights,EMILY BRONTE,1983,Bantam,http://images.amazon.com/images/P/0553212583.0...,77
46010,209756,0140099832,0,Lake Wobegon Days,Garrison Keillor,1990,Penguin/Puffin Mass Market (Mm),http://images.amazon.com/images/P/0140099832.0...,53
26306,102647,0345422317,0,The Genesis Code,John Case,1998,Ballantine Books,http://images.amazon.com/images/P/0345422317.0...,67
124881,51450,1558743669,0,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,85
167380,12538,042510107X,0,Red Storm Rising,Tom Clancy,1997,Berkley Publishing Group,http://images.amazon.com/images/P/042510107X.0...,84
190012,37950,0684801523,0,The Great Gatsby,F. Scott Fitzgerald,1995,Scribner,http://images.amazon.com/images/P/0684801523.0...,59
73514,42914,0425105334,0,The Talisman,Stephen King,1991,Berkley Publishing Group,http://images.amazon.com/images/P/0425105334.0...,84

In [22]:
final_rating.drop_duplicates(['USER-ID', 'TITLE'], inplace = True)
final_rating.sample(20)

,USER-ID,ISBN,RATING,TITLE,AUTHOR,YEAR-OF-PUBLICATION,PUBLISHER,IMAGE-URL-L,NUM_OF_RATING
45983,123981,0670805149,0,Lake Wobegon Days,Garrison Keillor,1985,Penguin USA,http://images.amazon.com/images/P/0670805149.0...,53
175193,21014,0449223604,0,M Is for Malice,Sue Grafton,1998,Fawcett Books,http://images.amazon.com/images/P/0449223604.0...,72
120304,11676,0425122123,7,Clear and Present Danger (Jack Ryan Novels),Tom Clancy,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425122123.0...,57
166377,55492,0515132187,0,The Villa,Nora Roberts,2002,Jove Books,http://images.amazon.com/images/P/0515132187.0...,97
140180,246311,0553296981,10,Anne Frank: The Diary of a Young Girl,ANNE FRANK,1993,Bantam,http://images.amazon.com/images/P/0553296981.0...,62
136490,93085,0425099334,0,Shattered,Dean R. Koontz,1993,Berkley Publishing Group,http://images.amazon.com/images/P/0425099334.0...,58
42094,55734,0553573136,8,Couplehood,PAUL REISER,1995,Bantam,http://images.amazon.com/images/P/0553573136.0...,91
81160,87974,0679781307,0,The Reader,Carol Brown Janeway,1998,Random House Inc,http://images.amazon.com/images/P/0679781307.0...,140
26170,242106,034538475X,10,The Tale of the Body Thief (Vampire Chronicles...,Anne Rice,1993,Ballantine Books,http://images.amazon.com/images/P/034538475X.0...,81
70613,69355,0345370805,0,How to Make an American Quilt,Whitney Otto,1992,Ballantine Books,http://images.amazon.com/images/P/0345370805.0...,85
100539,166123,0399149155,0,Q Is for Quarry,Sue Grafton,2002,Putnam Publishing Group,http://images.amazon.com/images/P/0399149155.0...,88
228845,189516,0553292722,0,Still Waters,TAMI HOAG,1992,Bantam,http://images.amazon.com/images/P/0553292722.0...,83
35553,14521,0440235596,0,Tara Road,Maeve Binchy,2000,Dell Publishing Company,http://images.amazon.com/images/P/0440235596.0...,112
69551,140000,0140293248,0,The Girls' Guide to Hunting and Fishing,Melissa Bank,2000,Penguin Books,http://images.amazon.com/images/P/0140293248.0...,200
147337,26544,0345402871,0,Airframe,Michael Crichton,1997,Ballantine Books,http://images.amazon.com/images/P/0345402871.0...,103
33100,68555,0425157539,7,Sudden Prey,John Sandford,1997,Berkley Publishing Group,http://images.amazon.com/images/P/0425157539.0...,54
96416,167471,0425180638,0,The Last Precinct,Patricia Cornwell,2001,Berkley Publishing Group,http://images.amazon.com/images/P/0425180638.0...,129
100901,69232,0446610038,0,1st to Die: A Novel,James Patterson,2002,Warner Vision,http://images.amazon.com/images/P/0446610038.0...,162
56224,110483,051513287X,0,Face the Fire (Three Sisters Island Trilogy),Nora Roberts,2002,Jove Books,http://images.amazon.com/images/P/051513287X.0...,99
166164,241666,0425172996,6,Vector,Robin Cook,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425172996.0...,59

In [23]:
books_pivot = final_rating.pivot_table(columns = 'USER-ID', index = 'TITLE', values = 'RATING')
#books_pivot.head(20)

In [24]:
books_pivot.fillna(0, inplace = True)
books_pivot.head()

USER-ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
TITLE,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0

In [25]:
from scipy.sparse import csr_matrix

books_sparse = csr_matrix(books_pivot)
type(books_sparse)

scipy.sparse._csr.csr_matrix

In [26]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm = 'brute')
model.fit(books_sparse)

NearestNeighbors(algorithm='brute')

In [27]:
distances, sugestions = model.kneighbors(books_pivot.iloc[237,:].values.reshape(1, -1), n_neighbors=6)
distances

array([[ 0.        , 68.78953409, 69.5413546 , 72.64296249, 76.83098333,
        77.28518616]])

In [28]:
sugestions

array([[237, 240, 238, 241, 184, 536]], dtype=int64)

In [29]:
for i in range(len(sugestions)):
    print(books_pivot.index[sugestions[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='TITLE')

In [30]:
books_name = books_pivot.index
books_name

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Cry In The Night',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='TITLE', length=742)

In [31]:
def recomend_book(books_name):
    book_id = np.where(books_pivot.index == books_name)[0][0]
    distances, sugestions = model.kneighbors(books_pivot.iloc[book_id,:].values.reshape(1, -1), n_neighbors=6)

    for i in range(len(sugestions)):
        books = books_pivot.index[sugestions[i]]
        for j in books:
            print(j)

In [32]:
import pickle
pickle.dump(model, open('finalinfo/model.pkl', 'wb'))
pickle.dump(books_name, open('finalinfo/books_name.pkl', 'wb'))
pickle.dump(final_rating, open('finalinfo/final_rating.pkl', 'wb'))
pickle.dump(books_pivot, open('finalinfo/books_pivot.pkl', 'wb'))